body {
	background-color: #cccccc;
	font-family: arial;
}
.quadrado{
	background-color:#000000;
	height: 100px;
	width: 100px;
}
.quadrado2{
	background-color:#ffffff;
	position: relative;
    top: -100px;
	left: 101px;
	height: 100px;
	width: 100px;
}
.quadrado3{
	background-color:#000000;
	position: relative;
    top: -200px;
	left: 202px;
	height: 100px;
	width: 100px;
}
.quadrado4{
	background-color:#ffffff;
	position: relative;
    top: -300px;
	left: 303px;
	height: 100px;
	width: 100px;
}
.quadrado5{
	background-color:#000000;
	position: relative;
    top: -400px;
	left: 404px;
	height: 100px;
	width: 100px;
}
.quadrado6{
	background-color:#ffffff;
	position: relative;
    top: -500px;
	left: 505px;
	height: 100px;
	width: 100px;
}
.quadrado7{
	background-color:#000000;
	position: relative;
    top: -600px;
	left: 606px;
	height: 100px;
	width: 100px;
}
.quadrado8{
	background-color:#ffffff;
	position: relative;
    top: -700px;
	left: 707px;
	height: 100px;
	width: 100px;
}

.quadrado9{
	background-color:#ffffff;
	position: relative;
    top: -700px;
	height: 100px;
	width: 100px;
}
.quadrado10{
	background-color:#000000;
	position: relative;
    top: -800px;
	left: 101px;
	height: 100px;
	width: 100px;
}
.quadrado11{
	background-color:#ffffff;
	position: relative;
    top: -900px;
	left: 202px;
	height: 100px;
	width: 100px;
}
.quadrado12{
	background-color:#000000;
	position: relative;
    top: -1000px;
	left: 303px;
	height: 100px;
	width: 100px;
}
.quadrado13{
	background-color:#ffffff;
	position: relative;
    top: -1100px;
	left: 404px;
	height: 100px;
	width: 100px;
}
.quadrado14{
	background-color:#000000;
	position: relative;
    top: -1200px;
	left: 505px;
	height: 100px;
	width: 100px;
}
.quadrado15{
	background-color:#ffffff;
	position: relative;
    top: -1300px;
	left: 606px;
	height: 100px;
	width: 100px;
}
.quadrado16{
	background-color:#000000;
	position: relative;
    top: -1400px;
	left: 707px;
	height: 100px;
	width: 100px;
}

.quadrado17{
	background-color:#000000;
	position: relative;
    top: -1400px;
	height: 100px;
	width: 100px;
}
.quadrado18{
	background-color:#ffffff;
	position: relative;
    top: -1500px;
	left: 101px;
	height: 100px;
	width: 100px;
}
.quadrado19{
	background-color:#000000;
	position: relative;
    top: -1600px;
	left: 202px;
	height: 100px;
	width: 100px;
}
.quadrado20{
	background-color: #ffffff;
	position: relative;
	top: -1700px;
	left: 303px;
	height: 100px;
	width: 100px;
}
.quadrado21{
	background-color: #000;
	position: relative;
	top: -1800px;
	left: 404px;
	height: 100px;
	width: 100px;
}
.quadrado22{
	background-color: #fff;
	position: relative;
	top: -1900px;
	left: 505px;
	height: 100px;
	width: 100px;
}
.quadrado23{
	background-color: #000;
	position: relative;
	top: -2000px;
	left: 606px;
	height: 100px;
	width: 100px;
}
.quadrado24{
	background-color: #fff;
	position: relative;
	top: -2100px;
	left: 707px;
	height: 100px;
	width: 100px;
}

.quadrado25{
	background-color:#fff;
	position: relative;
	top: -2100px;
	height: 100px;
	width: 100px;
}
.quadrado26{
	background-color:#000000;
	position: relative;
    top: -2200px;
	left: 101px;
	height: 100px;
	width: 100px;
}
.quadrado27{
	background-color:#fff;
	position: relative;
    top: -2300px;
	left: 202px;
	height: 100px;
	width: 100px;
}
.quadrado28{
	background-color: #000000;
	position: relative;
	top: -2400px;
	left: 303px;
	height: 100px;
	width: 100px;
}
.quadrado29{
	background-color: #fff;
	position: relative;
	top: -2500px;
	left: 404px;
	height: 100px;
	width: 100px;
}
.quadrado30{
	background-color: #000000;
	position: relative;
	top: -2600px;
	left: 505px;
	height: 100px;
	width: 100px;
}
.quadrado31{
	background-color: #fff;
	position: relative;
	top: -2700px;
	left: 606px;
	height: 100px;
	width: 100px;
}
.quadrado32{
	background-color: #000;
	position: relative;
	top: -2800px;
	left: 707px;
	height: 100px;
	width: 100px;
}

.quadrado33{
	background-color:#000;
	position: relative;
	top: -2800px;
	height: 100px;
	width: 100px;
}
.quadrado34{
	background-color:#fff;
	position: relative;
    top: -2900px;
	left: 101px;
	height: 100px;
	width: 100px;
}
.quadrado35{
	background-color:#000;
	position: relative;
    top: -3000px;
	left: 202px;
	height: 100px;
	width: 100px;
}
.quadrado36{
	background-color: #fff;
	position: relative;
	top: -3100px;
	left: 303px;
	height: 100px;
	width: 100px;
}
.quadrado37{
	background-color: #000;
	position: relative;
	top: -3200px;
	left: 404px;
	height: 100px;
	width: 100px;
}
.quadrado38{
	background-color: #fff;
	position: relative;
	top: -3300px;
	left: 505px;
	height: 100px;
	width: 100px;
}
.quadrado39{
	background-color: #000;
	position: relative;
	top: -3400px;
	left: 606px;
	height: 100px;
	width: 100px;
}
.quadrado40{
	background-color: #fff;
	position: relative;
	top: -3500px;
	left: 707px;
	height: 100px;
	width: 100px;
}

.quadrado41{
	background-color:#fff;
	position: relative;
	top: -3500px;
	height: 100px;
	width: 100px;
}
.quadrado42{
	background-color:#000;
	position: relative;
    top: -3600px;
	left: 101px;
	height: 100px;
	width: 100px;
}
.quadrado43{
	background-color:#fff;
	position: relative;
    top: -3700px;
	left: 202px;
	height: 100px;
	width: 100px;
}
.quadrado44{
	background-color: #000;
	position: relative;
	top: -3800px;
	left: 303px;
	height: 100px;
	width: 100px;
}
.quadrado45{
	background-color: #fff;
	position: relative;
	top: -3900px;
	left: 404px;
	height: 100px;
	width: 100px;
}
.quadrado46{
	background-color: #000;
	position: relative;
	top: -4000px;
	left: 505px;
	height: 100px;
	width: 100px;
}
.quadrado47{
	background-color: #fff;
	position: relative;
	top: -4100px;
	left: 606px;
	height: 100px;
	width: 100px;
}
.quadrado48{
	background-color: #000;
	position: relative;
	top: -4200px;
	left: 707px;
	height: 100px;
	width: 100px;
}

.quadrado49{
	background-color:#000;
	position: relative;
	top: -4200px;
	height: 100px;
	width: 100px;
}
.quadrado50{
	background-color:#fff;
	position: relative;
    top: -4300px;
	left: 101px;
	height: 100px;
	width: 100px;
}
.quadrado51{
	background-color:#000;
	position: relative;
    top: -4400px;
	left: 202px;
	height: 100px;
	width: 100px;
}
.quadrado52{
	background-color: #fff;
	position: relative;
	top: -4500px;
	left: 303px;
	height: 100px;
	width: 100px;
}
.quadrado53{
	background-color: #000;
	position: relative;
	top: -4600px;
	left: 404px;
	height: 100px;
	width: 100px;
}
.quadrado54{
	background-color: #fff;
	position: relative;
	top: -4700px;
	left: 505px;
	height: 100px;
	width: 100px;
}
.quadrado55{
	background-color: #000;
	position: relative;
	top: -4800px;
	left: 606px;
	height: 100px;
	width: 100px;
}
.quadrado56{
	background-color: #fff;
	position: relative;
	top: -4900px;
	left: 707px;
	height: 100px;
	width: 100px;
}

.quadrado57{
	background-color:#fff;
	position: relative;
	top: -4900px;
	height: 100px;
	width: 100px;
}
.quadrado58{
	background-color:#000;
	position: relative;
    top: -5000px;
	left: 101px;
	height: 100px;
	width: 100px;
}
.quadrado59{
	background-color:#fff;
	position: relative;
    top: -5100px;
	left: 202px;
	height: 100px;
	width: 100px;
}
.quadrado60{
	background-color: #000;
	position: relative;
	top: -5200px;
	left: 303px;
	height: 100px;
	width: 100px;
}
.quadrado61{
	background-color: #fff;
	position: relative;
	top: -5300px;
	left: 404px;
	height: 100px;
	width: 100px;
}
.quadrado62{
	background-color: #000;
	position: relative;
	top: -5400px;
	left: 505px;
	height: 100px;
	width: 100px;
}
.quadrado63{
	background-color: #fff;
	position: relative;
	top: -5500px;
	left: 606px;
	height: 100px;
	width: 100px;
}
.quadrado64{
	background-color: #000;
	position: relative;
	top: -5600px;
	left: 707px;
	height: 100px;
	width: 100px;
}